<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ImbuementCalculator - tibiastock</title>
    <meta property="og:title" content="ImbuementCalculator - tibiastock" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <link rel="stylesheet" href="./static/style.css" />
    <div>
      <link href="./static/imbuement-calculator.css" rel="stylesheet" />

      <div class="imbuement-calculator-container">
        <div class="imbuement-calculator-container1">
          <header class="imbuement-calculator-header">
            <img
              alt="image"
              src="./static/logo-200h-200h.png"
              class="imbuement-calculator-image"
            />
            <div class="imbuement-calculator-navbar-responsive">
              <svg
                viewBox="0 0 1024 1024"
                class="imbuement-calculator-icon nav-btn"
              >
                <path
                  d="M64 192h896v192h-896zM64 448h896v192h-896zM64 704h896v192h-896z"
                ></path>
              </svg>
              <nav class="imbuement-calculator-sidebar navbar">
                <nav class="imbuement-calculator-nav">
                  <img
                    alt="image"
                    src="./static/logo-200h-200h.png"
                    class="imbuement-calculator-image1"
                  />
                  <a href={{ url_for('index') }} class="imbuement-calculator-navlink">
                    <div class="imbuement-calculator-container2">
                      <span class="imbuement-calculator-home">Home</span>
                    </div>
                  </a>
                  <a
                    href={{ url_for('market_view') }}
                    class="imbuement-calculator-navlink1"
                  >
                    <div class="imbuement-calculator-container3">
                      <span class="imbuement-calculator-maketview">
                        MarketView
                      </span>
                    </div>
                  </a>
                  <a
                    href={{ url_for('imbuement_calculator') }}
                    class="imbuement-calculator-navlink2"
                  >
                    <div class="imbuement-calculator-container4">
                      <span class="imbuement-calculator-imbuement-calculator">
                        Imbu Calc
                      </span>
                    </div>
                  </a>
                </nav>
              </nav>
            </div>
            <div class="imbuement-calculator-navbar">
              <a href={{ url_for('index') }} class="imbuement-calculator-navlink3">
                Home
              </a>
              <a href={{ url_for('market_view') }} class="imbuement-calculator-navlink4">
                <span>MarketView</span>
                <br />
              </a>
              <a
                href={{ url_for('imbuement_calculator') }}
                class="imbuement-calculator-navlink5"
              >
                Imbuement Calculator
              </a>
            </div>
          </header>
        <div class="imbuement-calculator-form" id="imbu_form">
          <div class="imbuement-calculator-dropdown-form">
            <div class="imbuement-calculator-server-select">
              <span class="imbuement-calculator-server">Server</span>
              <div class="imbuement-calculator-select-wrap">
                <select class="imbuement-calculator-select" id="server-select">
                  {%for server in server_list%}
                  <option value='{{ server }}'>{{ server }}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
            <div class="imbuement-calculator-imbu-name-select">
              <span class="imbuement-calculator-imbu-name">Imbuement Name</span>
              <div class="imbuement-calculator-select-wrap">
                <select class="imbuement-calculator-select1" id="imbu-name-select" placeholder="Choose an imbuement...">
                  <option selected value="">Choose an imbuement...</option>
                  {%for imbu_name in imbu_list%}
                  <option value='{{ imbu_name }}'>{{ imbu_name }}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
            <div class="imbuement-calculator-imbu-power-select">
              <span class="imbuement-calculator-imbu-power">Imbuement Power</span>
              <div class="imbuement-calculator-select-wrap">
                <select class="imbuement-calculator-select2" id="imbu-power-select">
                  <option selected value="">Choose an imbuement power...</option>
                  <div id="imbu-power-div">
                  </div>
                </select>
              </div>
            </div>
          </div>
            <div class="imbuement-calculator-result-form">
              <span class="imbuement-calculator-result-description" id="imbu-desc"></span>
              <div class="imbuement-calculator-items-wrapper">
                <div class="imbuement-calculator-item-container-1">
                  <div class="imbuement-calculator-item" id="imbu-item-container-0"></div>
                  <div class="imbuement-calculator-price" id="imbu-item-price-0"></div>
                </div>
                <div class="imbuement-calculator-item-container-11">
                  <div class="imbuement-calculator-item"  id="imbu-item-container-1"></div>
                  <div class="imbuement-calculator-price" id="imbu-item-price-1"></div>
                </div>
                <div class="imbuement-calculator-item-container-12">
                  <div class="imbuement-calculator-item"  id="imbu-item-container-2"></div>
                  <div class="imbuement-calculator-price" id="imbu-item-price-2"></div>
                </div>
              </div>
              <div class="imbuement-calculator-result-total">
                <span class="imbuement-calculator-total"></i>Total Price<sup><i title="Price includes fee and 100% success rate" class="fa fa-info-circle" aria-hidden="true" style="font-size: 16px"></i></sup>:</span>
                <div class="imbuement-calculator-result imb" id="imbu-price-result"></div>
              </div>
            </div>
          </div>
          <footer class="imbuement-calculator-footer">
            <div class="imbuement-calculator-container5">
              <img
                alt="image"
                src="./static/logo-200h.png"
                class="imbuement-calculator-image2"
              />
              <span class="imbuement-calculator-text2">
                © 2024 TibiaStock, All Rights Reserved.
              </span>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
          window.onload = ()=> {
              const navbar = document.getElementsByClassName("nav-btn")[0];
              const sidebar = document.getElementsByClassName("navbar")[0]


              navbar.addEventListener("click", ()=>{
                  const visibility = sidebar.style.visibility;
                  if(visibility == "visible"){
                      sidebar.style.visibility="hidden";
                  }
                  else {
                      sidebar.style.visibility="visible";
                  }
              })
      }
    </script>
    <script>
      $(document).ready(function() {

        function get_power(){
              $.getJSON('/_update_dropdown', {
              selected_imbu: $('#imbu-name-select').val()
            }).done(function(data) {
              $('#imbu-power-select').empty();
              $('#imbu-power-select').append('<option selected value="">Choose an imbuement power...</option>')
              data.forEach((element, idx) => {
                $('#imbu-power-select').append(`<option value='${element}'>${element}</option>`);
              });
              
            }
          )
      }
    
      $('#imbu_form').change(function(e){
        if(e.target.id == 'imbu-name-select'){ 
          get_power()
        }
        else if($('#imbu-name-select').val() && $('#imbu-power-select').val()){
          $.getJSON('/_result', {
          selected_server: $('#server-select').val(),
          selected_imbu: $('#imbu-name-select').val(),
          selected_power: $('#imbu-power-select').val()
        }).done(function(data){

          for(i=0;i<=2;i++){
            $(`#imbu-item-container-${i}`).empty();
            $(`#imbu-item-price-${i}`).empty();
            $('#imbu-price-result').empty();
            $('#imbu-desc').empty();
          }

          $('#imbu-desc').append(data.description + '<br>' + `Amount: ${data.amount}`)
          data.items.forEach((element, idx) => {
            $(`#imbu-item-container-${idx}`).append(
              `<img alt="${element[0]}" title="${element[0]}"
               src="https://tibiopedia.pl/images/static/items/${element[0].replaceAll(" ","_").replaceAll("'","")}.gif">x${element[1]}`
              )
            
            $(`#imbu-item-price-${idx}`).append(`${element[2]*element[1]}<img alt="gold coin" title="gold coin" src="https://tibiopedia.pl/images/static/items/gold_coin.gif">`)
          });
          let price = 0
          if($('#imbu-power-select').val().includes('Basic')){
            price = data.imbu_price+15000;
          }
          else if($('#imbu-power-select').val().includes('Intricate')){
            price = data.imbu_price+55000;
          }
          else {
            price = data.imbu_price+150000;
          }

          $('#imbu-price-result').append(`${price}<img alt="gold coin" title="gold coin" src="https://tibiopedia.pl/images/static/items/gold_coin.gif">`);

        })}
      })

    })
    </script>
  </body>
</html>
